<nav class="navbar bg-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sistema</a>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a href="admin/carros" class="nav-link active" aria-current="page">Carros</a>
      </li>

      <li class="nav-item">
        <a href="admin/marcas" class="nav-link active">Marcas</a>
      </li>

      <li class="nav-item">
        <a href="admin/acessorios" class="nav-link active">Acessorios</a>
      </li>

      <li class="nav-item">
        <a href="login" class="nav-link active">Sair</a>
      </li>
    </ul>

  </div>
</nav>
