<br>
<div class="container">
  <div class="row">
    <div class=" col-lg-16 center ">

      <div class="card">
        <div class="card-body">
          <h3>Cadastro de Acessorio</h3>
          <br>
          <div class="form-outline" data-mdb-input-init>
            <input type="text" id="usuario" class="form-control" [(ngModel)]="acessorio.nome" />
            <label class="form-label" for="usuario">Nome</label>
          </div>
          <br>
          <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-init (click)="save()">Salvar</button>

        </div>
      </div>

    </div>
  </div>
</div>
